*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #fff;

}

.circle{
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-right-color: #007bff;;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin .5s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}